.back-btn{
  width: 20px;
}

h2{
  margin: 0px 21px 1.667rem;
  font-size: 1.667rem;
  font-weight: 600;
  line-height: 1.31;
  color: #252933;
  padding-top: 20px;
}

p{
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
